body{
    font-size: 16px;
    line-height: 1;
}

textarea{
    background: transparent;
    border: none;
    resize: none;
    border-left: 1px solid black;
    padding: 10px;
    color: #000;
}

.jumbotron{
    text-align: center;
    border-radius: 0;
    padding-bottom: 0%;
    background-color: transparent;
    color: #000;
}

.time-block{
    text-align: center;
}

.saveBtn{
    border-left: .5px;
    border-top-left-radius: 10px;
    background-color: rgb(241, 228, 228);
    color: black;
    outline: none;
    border-bottom-right-radius: 10px;
}

.resetBtn{
    font-size: xx-large;
    color: black;
    margin: 11px 11px;
    padding: 4px 6px;
    
}
.row{
    white-space: pre-wrap;
    height: 80px;
    border-top: 2px solid grey;
}

.hour{
    color: black;
    font-size: large;
    font-weight: bold;
}





.past{
    background-color: rgb(255, 1, 1);

}
.pres{
    background-color: rgb(57, 206, 27);

}
.future{
    background-color: rgb(220, 236, 69);
}